@media screen and (min-width: 40em){
  .grid{
    flex-direction: row;
    // align-items: center;
    justify-content: center;
    min-width: 664px;

    &__col1{
      border-radius: 1rem;
      min-width: 310px;
      
    }

  }
  
}