@use'../helpers' as * ;
.grid{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75em;
  max-width: 764px;
  min-width: 334px;
  margin: 0 auto;
 
  

  &__col1{
    background-color:$fourth-color-colbaltBlue;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2em;
    color: $neutral-color-white;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 1.5rem;
  }
  &__col2{
    flex: 1;
    background-color:$neutral-color-gray;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    flex: 1;
    padding: 1.5rem;
    
    
  }
}

.grid__category-items{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  .category__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.75em;

    .category__item-left{
      display: flex;
      align-items: center;
    }
  }
  // Background color each item
  .category__item:nth-child(1){
    background-color: hsla(0, 100%, 67%, 0.100);
  }
  .category__item:nth-child(2){
    background-color:hsla(39, 100%, 56%, 0.100);
  }
  .category__item:nth-child(3){
    background-color: hsla(166, 100%, 37%, 0.100);
  }
  .category__item:nth-child(4){
    background-color: hsla(234, 85%, 45%, 0.100);
  }
}