//CUSTOM colors inside root psuedo
:root{
  //Primary
--lightRed: hsl(0, 100%, 67%);
--orangeyYellow: hsl(39, 100%, 56%);
--greenTeal: hsl(166, 100%, 37%);
--colbaltBlue: hsl(234, 85%, 45%);

//Gradients
  //(background)
--lightSlate-blue : hsl(252, 100%, 67%);
--lightRoyal-blue : hsl(241, 81%, 54%);
  //(circle element  color used in design)
--violetBlue : hsla(256, 72%, 46%, 1);
--persianBlue: hsla(241, 72%, 46%, 0);

//Neutral
--white: hsl(0, 0%, 100%);
--paleBlue: hsl(221, 100%, 96%);
--lightLavender: hsl(241, 100%, 89%);
--darkGray-blue: hsl(224, 30%, 27%);
--white-gray:hsl(0, 0%, 70%);
}